*

!.gitignore

!devutils/
!devutils/**/
!patches/
!patches/**/

!AGENTS.md
!ARCHITECTURE.md
!DECISIONS.md
!README.md
!WORKFLOW.md
!freecad_commit.txt
!freecad_repo.txt
!shell.nix
!devutils/quilt-env.sh

!patches/*.patch
!patches/**/*.patch

!justfile
!patches/series
