*

!.gitignore
!.gitattributes

!devutils/
!devutils/**/
!patches/
!patches/**/

!AGENTS.md
!LICENSE
!README.md
!freecad_commit.txt
!freecad_repo.txt
!shell.nix
!devutils/quilt-env.sh

!patches/*.patch
!patches/**/*.patch

!justfile
!patches/series
